.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 100%;
    background-size: cover;
    background-position: center;
    transition: left 0.5s ease-in-out;
}

.carousel-slide.active {
    left: 0;
}

.carousel-navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.nav-dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-dot.active {
    background-color: gray;
}